.review .slider{
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    position: relative;
}

.review .slider .fa-quote-right{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 6rem;
    color: #ccc;
}

.review .slider .user{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.review .slider .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .slider .user h3{
    color: var(--cor-preta);
    font-size: 2rem;
    padding-bottom: .5rem;
}

.review .slider .user i{
    font-size: 1.3rem;
    color: var(--cor-verde);
}

.review .slider p{
    font-size: 1.3rem;
    line-height: 1.8;
    color: var(--light-cor);
}