
.cabecalho{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 7%;
    background: var(--cor-branca);
    box-shadow: var(--box-shadow);
}

.cabecalho .logo{
    color: var(--cor-preta);
    font-size: 2.5rem;
    font-weight: bolder;
}


.cabecalho .logo i{
    color: var(--cor-verde);
}

.cabecalho .navbar ul{
    display: flex;
}

.cabecalho .navbar ul li{
    margin: 0 .3rem;
}

.cabecalho .navbar ul li a{
    font-size: 1.7rem;
    border-radius: .5rem;
    color: var(--light-cor);
    font-weight: 600;
    padding: .5rem 1.2rem;
}

.cabecalho .navbar ul li a.active,
.cabecalho .navbar ul li a:hover{
    background: var(--cor-verde);
    color: var(--cor-branca);
    padding: .8rem 1.2rem;
}

.cabecalho .icones i,
.cabecalho .icones a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 50%;
    background: #eee;
    color: var(--cor-preta);
}

.cabecalho .icones i:hover,
.cabecalho .icones a:hover{
    color: var(--cor-branca);
    background: var(--cor-verde);
    transform: rotate(360deg);
}

.cabecalho .icones #menu-bars{
    display: none;
}

#search-form{
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 110;
    background: rgba(0,0,0,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

#search-form.active{
    top: 0;
}

#search-form #search-box{
    width: 50rem;
    border-bottom: .1rem solid var(--cor-branca);
    padding: 1rem 0;
    color: var(--cor-branca);
    font-size: 3rem;
    text-transform: none;
    background: none;
}

#search-form #search-box::placeholder{
    color: #eee;
    font-weight: 400;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    color: var(--cor-branca);
    font-size: 3rem;
    cursor: pointer;
}

#search-form label:hover{
    color: var(--cor-verde);
}

#search-form #close{
    position: absolute;
    color: var(--cor-branca);
    cursor: pointer;
    top: 2rem;
    right: 3rem;
    font-size: 4rem;
}

.home .home-slider .slider{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
}

.home .home-slider .slider .content{
    flex: 1 1 45rem;
}

.home .home-slider .slider .content span{
    color: var(--cor-verde);
    font-size: 3rem;
}

.home .home-slider .slider .content h3{
    color: var(--cor-preta);
    font-size: 7rem;
}

.home .home-slider .slider .content p{
    color: var(--light-cor);
    font-size: 1.7rem;
    padding: .5rem 0;
    line-height: 2.5rem;
}

.home .home-slider .slider .image{
    flex: 1 1 45rem;
}

.home .home-slider .slider .image img{
    width: 100%;
}

.swiper-pagination-bullet-active{
    background: var(--cor-verde);
}


.Dishes .dishes-box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
    
}

.Dishes .dishes-box .dishes{
    padding: 3rem;
    background: var(--cor-branca);
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    position: relative;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    text-align: center;
}

.Dishes .dishes-box .dishes .fa-heart,
.Dishes .dishes-box .dishes .fa-eye{
    position: absolute;
    top: 1.5rem;
    background: #eee;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: var(--cor-preta);
    font-size: 20px;
}

.Dishes .dishes-box .dishes .fa-heart:hover,
.Dishes .dishes-box .dishes .fa-eye:hover{
    background: var(--cor-verde);
    color: var(--cor-branca);
}

.Dishes .dishes-box .dishes .fa-heart{
    right: -15rem;
}

.Dishes .dishes-box .dishes .fa-eye{
    left: -15rem;
}

.Dishes .dishes-box .dishes:hover .fa-heart{
    right: 1.5rem;
}

.Dishes .dishes-box .dishes:hover .fa-eye{
    left: 1.5rem;
}

.Dishes .dishes-box .dishes img{
    height: 17rem;
    margin: 1rem 0;
    object-fit: cover;
}

.Dishes .dishes-box .dishes h3{
    color: var(--cor-preta);
    font-size: 2.5rem;
}

.Dishes .dishes-box .dishes .stars{
    padding: 1rem 0;
}

.Dishes .dishes-box .dishes .stars i{
    font-size: 1.7rem;
    color: var(--cor-verde);
    cursor: pointer;
}

.Dishes .dishes-box .dishes span{
    color: var(--cor-verde);
    font-weight: bolder;
    font-size: 2.5rem;
    margin-right: 1.2rem;
    cursor: pointer;
}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .row .image{
    flex: 1 1 45rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 45rem;
}

.about .row .content h3{
    font-size: 4rem;
    color: var(--cor-preta);
    padding: .5rem  0;
}

.about .row .content p{
    font-size: 2rem;
    color: var(--light-cor);
    padding: .5rem 0;
    line-height: 1.5;
}

.about .row .content .icons-container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: .5rem;
}


.about .row .content .icons-container .icons{
    background: #eee;
    border: .1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 17rem;
    padding: 1.5rem 1rem;
}

.about .row .content .icons-container .icons i{
    font-size: 2.5rem;
    color: var(--cor-verde);
}


.about .row .content .icons-container .icons span{
    font-size: 1.5rem;
    color: var(--cor-preta);
}


.robape .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 1.5rem;
}

.robape .box-container .box h3{
    padding: .5rem 0;
    font-size: 2.5rem;
    color:var(--cor-preta);
}

.robape .box-container .box a{
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color:var(--light-cor);
}

.robape .box-container .box a:hover{
    color: var(--cor-verde);
    text-decoration: underline;
}

.robape .creditos{
    text-align: center;
    font-size: 2rem;
    padding-top: 2rem;
    letter-spacing: .5px;
    border-top: .1rem solid var(--light-cor);
    color: var(--cor-preta);
    margin-top: 1.5rem;
}

.robape .creditos span{
    color: var(--cor-verde);
}

.loader-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader-container img{
    width: 35rem;
}

.loader-container.fade-out{
    top: 110%;
    opacity: 0;
}


